p {
	border-bottom: 3px solid black;
}

.kermit {
	border: 3px solid green;
}

#main-div-1 {
	padding: 10px;
}

#main-div-2 .kermit {
	border: 3px dotted purple;
}

#main-div-2 > * {
	border: 10px solid green;
}

h2 ~ p {
	border: 3px solid red;
}

#li-1 {
	font-size: 30px;
}

#li-2 {
	font-weight: bold;
}

#li-3 {
	text-transform: uppercase;
}

#mystery-ul {
	font-family: "Mystery Quest";
}

#flex-kermit {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

#flex-kermit img {
	max-width: 30%;
}

a:hover {
	font-size: 2em;
}

a:active {
	background-color: green;
}

input:focus {
	background-color: yellow;
}

.sub-div li:nth-child(2n) {
	color: blue;
}

.sub-div li:nth-of-type(2n) {
	color: blue;
	font-size: 3em;
}

section p:nth-child(2) {
	color: red;
}

section p:nth-of-type(2) {
	color: orange;
}

#main-div-1::before {
	content: "$$$";
}

#main-div-1::after {
	content: "$$$"
}